@import "tailwindcss";

:root{
  --bc-primary: #ff6a2b;
  --bc-primary-2: #ff8a5c;
  --bc-bg: #f6f7fb;
  --bc-border: #e7e9f0;
  --bc-text: #111827;
  --bc-muted: #6b7280;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--bc-bg);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
